<h1>Lista de Jugadores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dinero</th>
      <th>Modificar</th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= number_to_currency(player.money, unit: "$", precision: 0) %></td>
        <td><%= link_to "Editar", edit_player_path(player) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Agregar nuevo jugador", new_player_path %>
<%= link_to "Ver Rondas de Juego", game_rounds_path %>